root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
tab_width = 4

[*.{dtd,inc,php,phpt,rng,wsdl,xml,xsd,xsl}]
indent_size = 4
indent_style = space

[*.md]
trim_trailing_whitespace = false
indent_size = 4

[*.js]
indent_size = 2
quote_type = single

[*.scss]
indent_size = 2

[*.html]
indent_size = 2