@import "config/tokens";

@import "base/reset";

@import "utilities/spacing";

@import "composition/stack";

@import "blocks/card";
@import "blocks/skills";
@import "blocks/stars";
@import "blocks/menu";
@import "content/home/home";
@import "effects/effects";

#header {
  display: flex;
  justify-content: flex-start; // titre à gauche
  align-items: center;
  padding: 2rem;
  gap: 2rem; // espace entre le titre et le menu
}

#title {
  color: #fff;
  font-family: "Space Mono", monospace, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 5px;

  span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#logo {
  font-family: "Space Mono", sans-serif;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
}

/* #menu {
  display: flex;

  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin-left: 1rem;
  }

  gap: 25px; // espace entre les liens


  a {
    font-family: 'Space Mono', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.8;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }
  }
} */
