<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
  {{ $style := resources.Get "scss/main.scss" | toCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<header id="header">
    <h1 id="title">Tomspace</h1>

    <nav id="menu">
      <ul>
        <li><a href="{{ "/" | relLangURL }}">Home</a></li>
        <li><a href="{{ "/about/" | relLangURL }}">About</a></li>
        <li><a href="{{ "/projects/" | relLangURL }}">Projects</a></li>
        <li><a href="{{ "/blog/" | relLangURL }}">Blog</a></li>
        <li><a href="{{ "/skills/" | relLangURL }}">Skills</a></li>
        <li><a href="{{ "/contact/" | relLangURL }}">Contact</a></li>
      </ul>
    </nav>
</header>