<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
  {{ $style := resources.Get "scss/main.scss" | toCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<header id="header">
  <h1 id="title">Tomspace</h1>

  <nav id="navigation" role="navigation">
    <div id="menuToggle">
      <input type="checkbox" id="menuCheckbox" />
      <label for="menuCheckbox">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <ul id="menu">

      <li><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#">Info</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="https://erikterwan.com/" target="_blank">Show me more</a></li>
    </ul>
  </nav>
</header>
